<div><%== @file_status %></div>
<table>
  <% @public_files.each do |file| %>
    <tr>
      <td><a href ="<%= file %>"><%== file %></a></td><td><a href ='<%= file %>/edit'>Edit</a></td>
    </tr>
  <% end %>
</table>
