<form action='create' method='post'>
  <div>
    <input type='text' name='new_file_name'>
    <input type='submit' value='Create file'> 
    <a href='/'><input type='button' value='Cancel'></a>
  </div>
</form>